/* Reset */
body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0px;
  }

  .container{
      max-width:960px ;
      margin: 0 auto;
  }

  .clear:after, .clear::before{
      content: "";
      display: table;
      clear: both;
  }
  /*
  
  1 - Navbar
  2 - SectionChamada
  3 - SectionInformaçoes
  4 - SectionTipos
  
  */
  
  
  /* 1 - Navbar */
  nav{
    background: #000;
    padding: 20px 0;
  }

  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.125em;
  }

  nav ul{
      float: right;
  }
  
  nav ul li {
    display: inline-block;
    margin: 10px 10px;

  }
  nav ul li:after{
      content:"";
      background-color: #fff;
      width: 0;
      height:5px ;
      display: block;
      transition: 0.3s
  }
  nav ul li:hover:after{
    width: 100%
  }
  /* 2 - SectionChamada */

  #chamada{
      background:url("../Img/bg-intro.jpg") no-repeat center center;
      padding: 125px 0;
  }

  #chamada h1, #chamada h5{
      color:white
  }

  #chamada h1{
      font-size: 3em;
      text-transform: uppercase;
      text-align: center;
  }
  #chamada h1::after{
      content: "";
      background: #fff;
      display: block;
      width:20px;
      height:4px;
      margin: 10px auto 0 auto;
  }
  #chamada h5{
      font-size: 1.125em;
      text-align: center;
      font-style: italic
  }
  @media (max-widyh: 960px){
      #chamada h1 img{
          max-width:600px ;
      }
      #chamada h5{
          width: 280px;
      }
  }

  /* 3 - SectionInformaçoes */
  #informaçoes{
      padding: 50px 0;
  }
  #informaçoes h2{
      text-align: center;
      font-size: 2.25em;
      margin: 20px;
  }
  #informaçoes p{
      text-align: center;
      font-size: 1.125em;
      font-style:italic;
      margin: 0 auto;
      max-width: 460px;
  }
  #informaçoes .valor{
      float: left;
      margin: 0 10px;
  }
  #informaçoes .valor h3{
      width: 220px;
      font-size: 2.25em;
      padding:5px 0 10px 0;
      background-color:black;
      color:white;
      text-align: center;
      text-transform: lowercase;
      font-style:italic;
      position: relative;
      top:  -25px;
  }
  @media(max-width:600px){
      
  }

/* SectionTipos */

#tipos-de-cafe{
    background-color: #e7e4d8;
}
#tipos-de-cafe .tipo-item{

    width: 300px;
    margin: 20px 10px;
    float: left;
}
#tipos-de-cafe .tipo-item p{
    font-size: 0.875em;
}

#tipos-de-cafe .tipo-item h2{
    font-size: 2.25em;
    text-align: center
}
#tipos-de-cafe .tipo-item h2::before{
    content: "";
    width: 100px;
    height:100px;
    display: block;
    background-color: black;
    border-radius: 100px;
    margin: 10px auto;
    border: 4px solid #e7e4d8;
    box-shadow:0 0 0 5px black;
    
}
#tipos-de-cafe .tipo-item #paulista::before{
    background-color: #492901;
    box-shadow: 0 0 0 5px #492901;
}
#tipos-de-cafe .tipo-item #carioca::before{
    background-color: #c17139;
    box-shadow: 0 0 0 5px #c17139;

}
#tipos-de-cafe .tipo-item #mineiro::before{
    background-color: #d7a54d;
    box-shadow:0 0 0 5px #d7a54d;
}
#tipos-de-cafe a{
    width: 180px;
    background-color: #e7e4d8;
    text-decoration: none;
    color: #000;
    border: 3px solid #000;
    margin: 20px auto 0 auto;
    display: block;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 0;
    transition: 0.3s;
}
#tipos-de-cafe a:hover{
    background-color: #000;
    color:#fff

}
